<html>
  <head>
    <title>MainApp</title>
    
  </head>
  <body>
    <h1>MainApp Layout: <%= @app %></h1>

    <p><%= yield %></p>

    <hr>
    <ul>
      <li><a href="/">Main App</a></li>
      <li><a href="/app1/">App1</a></li>
      <li><a href="/app2/">App2</a></li>
      <li><a href="/app3/">App3</a></li>
    </ul>
    
  </body>
</html>
