<html>
  <head>
    <title>App1</title>
    <%= assets :css %>
  </head>
  <body>
    <h1>App1 layout</h1>
    <p><%= yield %></p>
    
    <hr>
    <ul>
      <li><a href="/">Main App</a></li>
      <li><a href="/app1/">App1</a></li>
      <li><a href="/app2/">App2</a></li>
      <li><a href="/app3/">App3</a></li>
      <li><a href="/app4/">App4</a></li>
    </ul>
    
    <%= assets :js %>
  </body>
</html>
