App2 Index called by <%= @app %>

<p>@root = [ <%= @root %> ]</p>

<img width="400px" src="/images/bg.jpg"/>


<!--this helper method is included in App3, but still available here -->
<%= hello('App2:Index') %>
